.root{
    -fx-background-image: url("Images/playresumepg.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 500 700;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#startNormal
{
	-fx-font-size: 20px;
	-fx-text-fill: #320456;
	-fx-padding: 6,6,6,6;
	-fx-border-radius: 8;
	-fx-font-weight: bold;
}
#startBlind
{
	-fx-font-size: 20px;
	-fx-text-fill: #320456;
	-fx-padding: 6,6,6,6;
	-fx-border-radius: 8;
	-fx-font-weight: bold;
}

#resume
{
	-fx-font-size: 20px;
	-fx-text-fill: #320456;
	-fx-padding: 6,6,6,6;
	-fx-border-radius: 8;
	-fx-font-weight: bold;
}

#Main
{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}